
.tabbar{ clear: left; border-bottom:2px solid #70C55A; margin-top:2px }/*apsys切换颜色*/

.navbackground{ background:#70C55A }

.panel-header,.panel-body{ border:1px solid #87CB87 }/*可拖拉边框的颜色*/

.layout-split-west{ border-right:5px solid #B1D692 }
.layout-split-south{ border-top:5px solid #BCDB9F }
.layout-split-east{ border-left:5px solid #BCDB9F }
.layout-split-north{ border-bottom:5px solid #BCDB9F }

.panel-header,.accordion-noborder .accordion-header,.easyui-layout h5{ background: #c9e2b3; color:#447206 }/*区域标题颜色*/
.easyui-layout h5 .glyphicon{ color:#447206 }

.panel-title{ background: none }

.tabs{ border:1px solid #c9e2b3 }

.tabs li.tabs-selected a.tabs-inner,.tabs li a.tabs-inner{ color:#588526; background:none }

.welcome{background:#4C8529}