<!doctype html>
<html lang="en" ng-app="CrosslightApp">
    <head>
        <link rel="stylesheet" href="./src/angular-ui-tree/angular-ui-tree.min.css">
        <link rel="stylesheet" type="text/css" href="./src/jquery-easyui-1.5.3/themes/default/easyui.css">
        <link rel="stylesheet" type="text/css" href="./src/jquery-easyui-1.5.3/themes/icon.css">
        <link rel="stylesheet" type="text/css" href="./src/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="./src/style/style.css">
        <link rel="stylesheet" type="text/css" href="./src/jquery-easyui-1.5.3/themes/color.css">
        <link href="css/style.css" rel="stylesheet">
        <link href="css/style_Apsys.css" rel="stylesheet">
        <title>Layer Builder</title>
    </head>
    <!-- The ng-app directive -->
    <body class="easyui-layout" ng-controller="contentController">
        <div data-options="region:'north',title:'Layer Builder',split:false, collapsible:false" style="height:180px;">
            <div class="easyui-layout" data-options="fit:true">
                <div data-options="region:'north'" style="height:120px;">
                    <layerbuilderheader/>
                </div>
                <div data-options="region:'south'" style="height:45px">
                        <div ng-controller="DrawingToolController" style="padding:5px;">
                            <a ng-show = "!columnsAreDefined" ng-click="selectStructure()" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-edit'">Define Columns</a>
                            <a ng-show = "columnsAreDefined" ng-click="addLayer()" class="easyui-linkbutton" data-options="iconCls:'icon-add'">Add layers</a>
                            <a ng-show = "layerIsCreated" ng-click="writeLayerFile()" class="easyui-linkbutton" data-options="iconCls:'icon-save'">Create Layer File</a>
                            <a ng-controller="rightClickController" ng-click="rightClickEvent()" class="easyui-linkbutton" data-options="iconCls:'icon-save'">Create geo File</a>
                        </div>
                </div>
            </div>

            <!--<header-menu ng-controller="DrawingToolController"/>-->
          <!--  <div layerbuilderheader></div>-->


        </div>
        <div data-options="region:'south',title:'Output Message',split:true,collapsed:false" style="height:150px;">
            <message-tab ng-controller="messageTabContrller"></message-tab>
        </div>
        <div data-options="region:'west',title:'File Tree',split:true,collapsed:false" style="width:200px;">
        <filetree ng-controller="filetreeController"/>
        </div>
        <div data-options="region:'center',title:'Structure Editor'" style="padding:5px;background:#eee;">
            <drawing-tool ng-controller="DrawingToolController"></drawing-tool>
        </div>
        <div rightclickmenu></div>
        <div usersetting></div>

        <script type="text/javascript" src="./src/angular/angular.min.js"></script>
        <script type="text/javascript" src="./src/angular-ui-tree/angular-ui-tree.min.js"></script>
        <script type="text/javascript" src="./src/fabric/fabric.js"></script>
        <script type="text/javascript" src="./src/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="./src/jquery-easyui-1.5.3/jquery.easyui.min.js"></script>
        <script src="./src/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="./js/app.js"></script>
        <script type="text/javascript" src="./object/object.autotcad.js"></script>
        <script type="text/javascript" src="./object/object.editor.js"></script>
        <script type="text/javascript" src="./object/object.filetree.js"></script>
        <script type="text/javascript" src="./object/object.message.js"></script>
        <script type="text/javascript" src="./object/object.network.js"></script>
        <script type="text/javascript" src="./object/object.product.js"></script>
        <script type="text/javascript" src="./object/object.rightclickmenu.js"></script>
        <script type="text/javascript" src="./views/header/js/header.directive.js"></script>
        <script type="text/javascript" src="./views/header/js/navigation.controller.js"></script>
        <script type="text/javascript" src="./views/header/js/quick.controller.js"></script>
        <script type="text/javascript" src="./object/object.validator.js"></script>
        <script type="text/javascript" src="./object/object.wizard.js"></script>
        <script type="text/javascript" src="views/filetree/js/filetree.js"></script>
        <script type="text/javascript" src="views/popwindow/js/popwindow.directive.js"></script>

        <script type="text/javascript" src="./views/drawingTool/js/drawingTool.directive.js"></script>
        <script type="text/javascript" src="./views/messages/js/message.directive.js"></script>
        <script type="text/javascript" src="./views/rightclickmenu/rightclickmenu.js"></script>

        <script type="text/javascript" src="./js/nodejs.js"></script>
        <script type="text/javascript" src="./js/shortcut.js"></script>
    </body>
</html>

