<div id = "drawingContainer">
    <div class="modal fade" id="layerDefinerModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Layer Properties</h4>
                </div>
                <div class="modal-body">
                    <form name="layerForm" id ="selectMaterial" class="css-form">
                        <label>Layer Depth &#181m: </label>
                        <input name="layerDepth" class="form-control" type="number" ng-model="layerDimention.depth" required min="0" /><br />
                        <span style="color: red" ng-show="layerForm.layerDepth.$dirty && layerForm.layerDepth.$error.required">Layer Depth is Required</span><br />
                        <div ng-repeat="column in columns">
                            <label>material:</label><br/>
                                <div class="form-group col-sm-6">
                                    <select class="form-control" ng-init="column.selectedTestMaterial = materialArr[55]" ng-model="column.selectedTestMaterial" ng-options="material.name for material in materialArr"></select>
                                </div>
                                <div class="form-group col-sm-6">
                                    <button type="button" class="btn btn-default" ng-click="expand()">Show/hide Material Description</button>
                                </div><br/>
                                <textarea ng-show="column.IsVisible" style="width: 400px; height: 150px" ng-bind="column.selectedTestMaterial.info"></textarea><br/>


                                <div  class="form-group col-sm-4" ng-show=column.selectedTestMaterial.symbol1>
                                    <label>grading for variable {{column.selectedTestMaterial.symbol1}}:</label>
                                    <input class="form-control" type="number" ng-model="column.selectedTestMaterial.symbol1Value" min="0" max="1"/>
                                </div>
                                <div  class="form-group col-sm-4" ng-show=column.selectedTestMaterial.symbol1>
                                    <label>Grading From:</label>
                                    <input class="form-control" type="number" ng-model="column.selectedTestMaterial.symbol1ValueFrom" min="0" max="1"/>
                                </div>
                                <div  class="form-group col-sm-4" ng-show=column.selectedTestMaterial.symbol1>
                                    <label>Grading To:</label>
                                    <input class="form-control" type="number" ng-model="column.selectedTestMaterial.symbol1ValueTo" min="0" max="1"/>
                                </div><br/>


                                <div  class="form-group col-sm-4" ng-show=column.selectedTestMaterial.symbol2>
                                    <label>grading for variable {{column.selectedTestMaterial.symbol2}}:</label>
                                    <input class="form-control" type="number" ng-model="column.selectedTestMaterial.symbol2Value" min="0" max="1"/>
                                </div>
                                <div  class="form-group col-sm-4" ng-show=column.selectedTestMaterial.symbol2>
                                    <label>Grading From:</label>
                                    <input class="form-control" type="number" ng-model="column.selectedTestMaterial.symbol2ValueFrom" min="0" max="1"/>
                                </div>
                                <div  class="form-group col-sm-4" ng-show=column.selectedTestMaterial.symbol2>
                                    <label>Grading To:</label>
                                    <input class="form-control" type="number" ng-model="column.selectedTestMaterial.symbol2ValueTo" min="0" max="1"/>
                                </div><br/>


                                <div  class="form-group col-sm-4" ng-show=column.selectedTestMaterial.symbol3>
                                    <label>grading for variable {{column.selectedTestMaterial.symbol3}}:</label>
                                    <input class="form-control" type="number" ng-model="column.selectedTestMaterial.symbol3Value" min="0" max="1"/><br/>
                                </div>
                                <div  class="form-group col-sm-4" ng-show=column.selectedTestMaterial.symbol3>
                                    <label>Grading From:</label>
                                    <input class="form-control" type="number" ng-model="column.selectedTestMaterial.symbol3ValueFrom" min="0" max="1"/><br/>
                                </div>
                                <div  class="form-group col-sm-4" ng-show=column.selectedTestMaterial.symbol3>
                                    <label>Grading To:</label>
                                    <input class="form-control" type="number" ng-model="column.selectedTestMaterial.symbol3ValueTo" min="0" max="1"/><br/>
                                </div><br/>

                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" ng-disabled="layerForm.$invalid" ng-click="addLayers()" value="Save" class="btn btn-default">Save</button>
                    <button type="button" ng-click="reset()" value="Reset" class="btn btn-default">Reset</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="structureModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Columns Properties</h4>
                </div>
                <div class="modal-body">
                    <form name="columnForm" class="css-form">
                        <div ng-repeat="column in columns">
                            <label>Width &#181m: <input name="columnWidth" class="form-control" type="number" ng-model="column.width" required min="0" /></label><br />
                            <span style="color: red" ng-show="columnForm.columnWidth.$dirty && columnForm.columnWidth.$error.required">Width is Required!</span><br />
                            <label>columnNumber: <input name="numberOfColumns" class="form-control" type="number" ng-model="column.columnNumber" required min="0" ng-disabled="true"/></label><br />

                        </div>
                        <label><button type="button" class="btn btn-default" ng-click="addColumn()">Add Column</button></label>
                        <label><button type="button" class="btn btn-default" ng-click="removeColumn()">Remove Column</button></label>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" ng-disabled="columnForm.$invalid" ng-click="addStructure()" value="Save" class="btn btn-default">Save</button>
                    <button type="button" ng-click="reset()" value="Reset" class="btn btn-default">Reset</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bd-example-modal-sm" id="rectangularCoordinateModal" role="dialog">
        <div class="modal-dialog modal-sm">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Rectangular Dimentions</h4>
                </div>
                <div class="modal-body">
                    <b>Center points:</b><br/>
                    <b>Center pointX: </b> {{rectCenterPointX}} &#181m<br/>
                    <b>Center pointY: </b>{{rectCenterPointY}} &#181m<br/>
                    <b>Coordinates:</b><br/>
                    <b>CoordinateX1: </b>{{firstRectCoordinateX}} &#181m<br/>
                    <b>CoordinateY1: </b>{{firstRectCoordinateY}} &#181m<br/>
                    <b>CoordinateX2: </b>{{secondRectCoordinateX}} &#181m<br/>
                    <b>CoordinateY2: </b>{{secondRectCoordinateY}} &#181m<br/>
                    <b>CoordinateX3: </b>{{thirdRectCoordinateX}} &#181m<br/>
                    <b>CoordinateY3: </b>{{thirdRectCoordinateY}} &#181m<br/>
                    <b>CoordinateX4: </b>{{forthRectCoordinateX}} &#181m<br/>
                    <b>CoordinateY4: </b>{{forthRectCoordinateY}} &#181m<br/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!--<input ng-disabled="!canvasIsAdded" type="submit" value="Add Grid" ng-click="addGrid()"/>-->
</div>